.App {
  max-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: #474747;
}

.main {
  display: flex;
  height: calc(100vh - 40px);
}

.left-container {
  position: relative;
  flex: 60%;
  height: calc(100vh - 50px);
}

.right-container {
  flex: 40%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-left: 3px solid #1f65e6;
  padding: 5px;
}

/* Input box styling */
.input-box {
  flex: 50%;
  padding: 10px;
}

.input-box textarea {
  font-size: 16px;
  border: #00e1ff solid 2px;
  
}

/* Spinner box for loading indicator */
.spinner-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box img {
  width: 200px;
}

/* Output box styling */
.output-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  color: white;
  position: relative;
}

/* Clear button styling */
.clear-btn {
  position: absolute;
  bottom: 35px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: #1f65e6;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

/* Hover effect for Clear button */
.clear-btn:hover {
  background-color: #1b53a6;
  outline: 2px solid #1f65e6; /* Add outline effect */
}

/* Active effect for Clear button */
.clear-btn:active {
  background-color: #1f65e6;
  outline: 2px solid #1f65e6; /* Maintain outline effect */
}

/* Focus effect for Clear button */
.clear-btn:focus {
  outline: 2px solid #1f65e6; /* Add outline effect */
}

/* Output box pre-formatted text */
.output-box pre {
  font-size: 15px;
  white-space: pre-wrap;
}

/* Heading color */
h4 {
  color: #00e1ff;
}

/* Input text area styling */
#code-inp {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: #242424;
  color: whitesmoke;
  padding: 5px;
}

#code-inp:focus {
  outline: none;
}

/* Run button styling */
.run-btn {
  position: absolute;
  bottom: 38px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  background-color: #00e1ff;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

/* Hover effect for Run button */
.run-btn:hover {
  background-color: #009bbf;
  outline: 2px solid #00e1ff; /* Add outline effect */
}

/* Active effect for Run button */
.run-btn:active {
  background-color: #00e1ff;
  outline: 2px solid #00e1ff; /* Maintain outline effect */
}

/* Focus effect for Run button */
.run-btn:focus {
  outline: 2px solid #00e1ff; /* Add outline effect */
}